<include file="Time/header" />
<link rel="stylesheet" href="__PUBLIC__/css/student/class.css">
<article>
<div class="main-table">
	<table class="table" border=1 bordercolor=#66A5FF>
	<caption align=center>本周课程表</caption>
	<tr align="center" >
		<th></th>
		<th colspan=5>上课</th>
		<th colspan=2>休息</th>
	</tr>
	<tr align="center">
		<th>星期</th>
		<th>星期一</th>
		<th>星期二</th>
		<th>星期三</th>
		<th>星期四</th>
		<th>星期五</th>
		<th>星期六</th>
		<th>星期日</th>
	</tr>
	<tr>
		<td align="center">第一节</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
	</tr>
	<tr>
		<td rowspan=1 align="center">第二节</td>
	</tr>
	<tr>
		<td rowspan=1 align="center">第三节</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
	</tr>
	<tr>
		<td rowspan=1 align="center">第四节</td>
	</tr>
	<tr>
		<td rowspan=1 align="center">第五节</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
	</tr>
	<tr>
		<td rowspan=1 align="center">第六节</td>
	</tr>
	<tr>
		<td rowspan=1 align="center">第七节</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
		<td rowspan=2>&nbsp;</td>
	</tr>
	<tr>
		<td rowspan=1 align="center">第八节</td>
	</tr>
</table>
</div>
</article>
<include file="Time/footer" />