<include file="Time/header" />
<link rel="stylesheet" href="__PUBLIC__/css/student/updatePassword.css">
<div class="main-table">
	<div class="register-container">

	<form method="post" id="registerForm">

		<div>
			<input type="hidden" name="student_number" class="form-text" value="{$user_info.student_number}" />
			<input type="hidden" name="student_name" class="" value="{$user_info.student_name}">
			<input type="hidden" name="nickname" class="form-text" value="{$user_info.nickname}" />
			<input type="hidden" name="tag" class="form-text" value="{$user_info.tag}" />
			<input type="password" name="password" class="password" placeholder="输入新密码" oncontextmenu="return false" onpaste="return false" />
		</div>
		<div>
			<input type="password" name="confirm_password" class="confirm_password" placeholder="再次输入密码" oncontextmenu="return false" onpaste="return false" />
		</div>


		<button id="submit" type="submit">确 认 修 改</button>
	</form>

</div>
</div>

<!-- JS -->
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/student/updatePassword.js"></script>
<script src="__PUBLIC__/js/student/jquery.validate.min.js"></script>
<include file="Time/footer" />