<include file="Index/header" />
<h2 class="main-right-nav">学生管理 &gt; 学生列表</h2>
<div class="main-right-titbox">
	<ul><li><a href="#">学生列表</a></li></ul>
</div>
<form method="post">请选择班级：
	<select name="class_id">
		<foreach name="major_info" item="v">
			<foreach name="v.Class" item="vv">
				<option value="{$vv.class_id}" <eq name="class_id" value="$vv.class_id">selected</eq>>{$v.major_name}{$vv.class_name}</option>
			</foreach>
		</foreach>
	</select>
	<input type="submit" value="确定" class="form-btn" />
	<a href="../../../PHPExcel_demo/export_student.php">学生信息基本导出</a>

</form>
<table class="table">
	<tr><th>学号</th><th>姓名</th><th>年龄</th><th>性别</th><th>操作</th></tr>
	<notempty name="student_info">
		<foreach name="student_info" item="v">
			<tr align="center">
				<td>{$v.student_number}</td>
				<td>{$v.student_name}</td>
				<td>{$v.student_birthday}</td>
				<td>{$v.student_gender}</td>
				<td><div align="center"><a href="__CONTROLLER__/update/student_id/{$v.student_id}">编辑</a>&nbsp; &nbsp;<a href="__CONTROLLER__/delete/student_id/{$v.student_id}/class_id/{$v.class_id}"  onclick="javascript:if(confirm('确定要删除此信息吗？')){return true;}return false;">删除</a></div></td>
			</tr>
		</foreach>
		<else/>
		<tr align="center"><td colspan="5">查询的结果不存在！</td></tr>
	</notempty>
</table>
<include file="Index/footer" />