<include file="Index/header" />
<h2 class="main-right-nav">学生管理 &gt; 文件上传</h2>
<div class="">
	<form action="__URL__/upload" enctype="multipart/form-data" method="post">
	<input type='file' name='file'>
	<input type="submit" value="提交" >
	</form>
</div>
<table class="table">
	<tr><th>文件名</th><th>上传时间</th><th>上传人</th><th>链接</th></tr>
	<notempty name="files_info">
		<foreach name="files_info" item="v">
			<tr align="center">
				<td>{$v.filename}</td>
				<td>{$v.createtime|date='Y年m月d日 H:i:s',###}</td>
				<td>{$v.owner}</td>
				<td><a href="__PUBLIC__{$v.filepath}">链接</a></td>
			</tr>
		</foreach>
		<else/>
		<tr align="center"><td colspan="6">查询的结果不存在！</td></tr>
	</notempty>
</table>
<include file="Index/footer" />