<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <title>学生管理系统</title>
	<link href="__PUBLIC__/css/style.css" rel="stylesheet">
</head>
<body>
<div class="top">
	<div class="top-box">
		<h1 class="top-box-logo">学生管理系统</h1>
		<div class="top-box-nav">
			欢迎您！<a href="">我的信息</a> <a href="" onclick="javascript:if(confirm('开发中')){return true;}return false;">密码修改</a> <a href="__MODULE__/Index/logout">安全退出</a>
		</div>
		<!--  -->
	</div>
</div>
<div class="main">
	<div class="main-left">
		<div class="main-left-nav">
			<div class="main-left-nav-head">
				<strong>学习成绩信息</strong><div></div>
			</div>
			<div class="main-left-nav-list">
				<div><a href="__MODULE__/Score/showScore">成绩查看</a></div>
				<div><a href="__MODULE__/Score/add">成绩录入</a></div>
				<div><a href="__MODULE__/Score/addAll">批量录入</a></div>
			</div>
		</div>
	</div>
	<div class="main-right">